name: Plugin compatibility
on: [push]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Setup Java
      uses: actions/setup-java@v1
      with:
        java-version: 11.x.x
    - name: Build the plugin using Gradle
      run: ./gradlew buildPlugin
    - uses: thepieterdc/intellij-plugin-verifier-action@v1.1.1
      with:
        plugin: '/home/runner/work/demo-plugin/demo-plugin/build/distributions/demo-plugin-*'
        versions: |
          2019.3.3
          2020.1.1
          LATEST-EAP-SNAPSHOT
